<!-- <section class="about-us">
    <div class="container">
        <div class="about-us-text">
            <h2>Про Меблерію</h2>
            <p>У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів.</p>
        </div>
        <picture>
            <source
                media="(min-width: 1440px)"
                srcset="./img/about-us/about-us-d2.jpg 2x,
                        ./img/about-us/about-us-d1.jpg 1x"
            >
            <source
                media="(min-width: 768px)"
                srcset="./img/about-us/about-us-t2.jpg 2x,
                        ./img/about-us/about-us-t1.jpg 1x"
            >
            <source
                media="(max-width: 767px)"
                srcset="./img/about-us/about-us-m2.jpg 2x,
                        ./img/about-us/about-us-m1.jpg 1x"
            >
            <img
                src="./img/about-us/about-us-d1.jpg"
                alt="A company meeting"
                width="100%"
            >
        </picture>
    </div>
</section> -->

