 <footer class="footer">
  <div class="footer-container container">
    <div class="footer-nav">
      <a class="footer-logo" href="./index.html">
        <img class="footer-logo-img" src="./img/logo.svg" alt="Логотип" />
      </a>
      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a href="#furniture" class="footer-menu-link">Наші меблі</a>
        </li>
        <li class="footer-menu-item">
          <a href="#about-us" class="footer-menu-link">Про нас</a>
        </li>
        <li class="footer-menu-item">
          <a href="#faq" class="footer-menu-link">Часті питання</a>
        </li>
        <li class="footer-menu-item">
          <a href="#reviews" class="footer-menu-link">Відгуки</a>
        </li>
      </ul>
      <ul class="footer-socials">
         <li class="footer-socials-items">
          <a
            href="https://www.youtube.com/"
            aria-label="Відкриває youtube"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-socials-links"
          >
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-items">
          <a
            href="https://www.instagram.com/"
            aria-label="Відкриває instagram"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-socials-links"
          >
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-items">
          <a
            href="https://www.facebook.com/"
            aria-label="Відкриває Facebook"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-socials-links"
          >
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="copyright">&copy; 2025 Relume. Всі права захищені.</p>
    </div>
  </div>
</footer>