<header>
    <div class="container container-header">
        <div class="header-wrap">
            <a class="logo" href=".index.html"><svg class="logo-icon" width="163" height="70">
                    <use href="./img/icons.svg#icon-Company-Logo"></use>
                </svg></a>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li><a href="#furniture">Наші меблі</a></li>
                    <li><a href="#about-us">Про нас</a></li>
                    <li><a href="#faq">Часті запитання</a></li>
                    <li><a href="#reviews">Відгуки</a></li>
                </ul>
                <a class="nav-btn" href="#furniture-list">До покупок</a>
            </nav>
            <button class="burger-menu" data-menu-open>
                <svg class="burger-menu-open-icon" width="32" height="32">
                    <use href="./img/icons.svg#menu"></use>
                </svg>
                <svg class="burger-menu-close-icon" width="32" height="32">
                    <use href="./img/icons.svg#x"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <!-- #mobile-menu -->
    <div class="mobile-menu" data-menu>
        <div class="mobile-menu-container">
            <ul class="mobile-nav-list">
                <li><a href="#furniture">Наші меблі</a></li>
                <li><a href="#about-us">Про нас</a></li>
                <li><a href="#faq">Часті запитання</a></li>
                <li><a href="#reviews">Відгуки</a></li>
            </ul>
            <a class="nav-btn" href="#furniture-list">До покупок</a>
        </div>
    </div>
</header>