<div class="backdrop">
  <section class="modal-details">
    <div class="container product-container">
      <h2 class="visually-hidden">Order product</h2>
      <button class="modal-close-btn js-close-modal" type="button">
        <svg class="menu-close" width="32" height="32">
          <use href="./img/icons.svg#x"></use>
        </svg>
      </button>
      <div class="product-images">
        <div class="product-img-wrapper">
          <img class="product-img" src="./img/defolt.png" alt="Дивани" />
        </div>
        <div class="row">
          <img
            class="row-img row-img-first"
            src="./img/defolt.png"
            alt="Дивани"
          />
          <img
            class="row-img row-img-second"
            src="./img/defolt.png"
            alt="Дивани"
          />
        </div>
      </div>
      <div class="product-column">
        <h3 class="product-heading"></h3>
        <p class="product-text"></p>
        <div class="product-content">
          <b class="product-price"></b>
          <div class="product-review"></div>
          <div class="color-product">
            <p class="color-product-text">Колір</p>
            <div class="product-input"></div>
          </div>
          <div class="product-description">
            <p class="product-description-text"></p>
            <p class="product-size"></p>
          </div>
          <button class="button-order button" type="submit">
            Перейти до замовлення
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
