<section class="modal-details">
  <div class="container product-container">
    <h2 class="visually-hidden">Order product</h2>
    <button class="modal-close-btn js-close-modal" type="button">
      <svg class="menu-close" width="32" height="32">
        <use href="../img/icons.svg#x"></use>
      </svg>
    </button>
    <div class="product-images">
      <div class="product-img-wrapper">
        <img class="product-img" src="../img/about-us/about-us-m1.jpg" alt=""></a>
      </div>
      <div class="row">
        <img class="row-img" src="../img/about-us/about-us-m1.jpg" alt=""></a>
        <img class="row-img" src="../img/about-us/about-us-m1.jpg" alt=""></a>
      </div>
    </div>
    <div class="product-column">
      <h3 class="product-heading">Софа Oslo</h3>
      <p class="product-text">Дивани</p>
      <div class="product-content">
        <b class="product-price">9 999 грн</b>
        <div class="product-review"></div>
        <div class="product-input">
          <label class="product-lable" for="">Колір</label>
          <input class="product-checkbox" type="checkbox" checked />
          <input class="product-checkbox" type="checkbox" />
          <input class="product-checkbox" type="checkbox" />
        </div>
        <p class="product-description">
          Класичний диван з м'якими подушками та високою спинкою, ідеальний для
          сімейного відпочинку. Оббивка з якісної зносостійкої тканини.
        </p>
        <p class="product-size">Розміри: 280x180x85</p>
        <button class="button-order button" type="submit">
          Перейти до замовлення
        </button>
      </div>
    </div>
  </div>
</section>
