<section class="our-furniture" id="furniture">
  <div class="container">   
    <h2 class="furniture-title">Наші Меблі</h2>
    <h3 class="furniture-elem">Знайдіть ідеальні рішення для вашого інтер'єру</h3>
    
    <ul class="our-furniture-list" id="furniture-grid">
      <li class="our-furniture-item active" data-id="all"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7b8"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7b9"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7ba"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7bb"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7bc"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7bd"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7be"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7bf"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7c0"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7c1"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7c2"></li>
      <li class="our-furniture-item" data-id="66504a50a1b2c3d4e5f6a7c3"></li>
    </ul>
      
    <ul class="furniture-list">
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
    </ul>
    <button type="button" class="furniture-show-more">Показати ще</button>
  </div>
</section>
