<section class="our-furniture">
  <div class="container">
    <ul class="furniture-list">
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
      <li class="furniture-item">
        <img
          class="furniture-item-img"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Kubus_sofa.jpg"
          alt="Софа Oslo"
          width="335"
        />

        <div class="furniture-desc-wrap">
          <h3 class="furniture-item-name">Софа Oslo</h3>
          <ul class="furniture-colors">
            <li class="furniture-color-item furniture-color-first"></li>
            <li class="furniture-color-item furniture-color-second"></li>
            <li class="furniture-color-item furniture-color-third"></li>
          </ul>
          <p class="furniture-item-price">9 999 грн</p>
        </div>

        <button type="button" class="furniture-item-btn">Детальніше</button>
      </li>
    </ul>
    <button type="button" class="furniture-show-more">Показати ще</button>
  </div>
</section>
