<section class="furniture-section">
    <h1 class="furniture-title">Наші Меблі</h1>
    <p class="furniture-item">Знайдіть ідеальні рішення для вашого інтер'єру</p>

    <ul class="furniture-list">
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
    </ul>

</section>