<section class="popular-products">
  <div class="container">
    <h2 class="title-section popular-products-title">Популярні товари</h2>

    <div class="popular-viewport swiper">
      <ul class="popular-list swiper-wrapper"></ul>
    </div>

    <div class="popular-controls">
      <div class="popular-pagination"></div>
      <div class="popular-buttons">
        <button type="button" class="popular-btn popular-btn--prev" disabled>
          <svg class="icon-popular" width="24" height="24">
            <use href="../img/icons.svg#left-arrow-alt"></use>
          </svg>
        </button>
        <button type="button" class="popular-btn popular-btn--next">
          <svg class="icon-popular" width="24" height="24">
            <use href="../img/icons.svg#right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
