<section id="reviews">
  <div class="container">
    <h3 class="reviews-title">Відгуки клієнтів</h3>
    <p class="reviews-text">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="reviews-navigation">
      <div class="reviews-swiper-pagination"></div>

      <div class="arrow">
        <button
          class="reviews-swiper-button-prev"
          type="button"
          aria-label="Previous slide"
        >
          <svg class="reviews-arrow-prev" width="24" height="24">
            <use href="../img/icons.svg#left-arrow-alt"></use>
          </svg>
        </button>

        <button
          class="reviews-swiper-button-next"
          type="button"
          aria-label="Next slide"
        >
          <svg class="reviews-arrow-next" width="24" height="24">
            <use href="../img/icons.svg#right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
