:root {
  --background-main: #fff;
  --background-about-us: #f0e6e6;
  --background-secondary: #6b0609;
  --background-backdrop: rgba(0, 0, 0, 0.25);
  --background-additional: rgba(8, 12, 9, 0.05);
  --background-slider: #f2f2f2;
  --background-slider-hover: #975052;
  --background-sofacolor-1: #c7c3bb;
  --background-sofacolor-2: #c7aa80;
  --background-sofacolor-3: #201a19;
  --background-gradient-hiro: rgba(0, 0, 0, 0.6);
  --background-gradient-hiro-desktop: rgba(0, 0, 0, 0.5);
  --background-gradient-cards: rgba(0, 0, 0, 0.4);
  --color-main: #080c09;
  --color-secondary: #fff;
  --color-input-placeholder: rgba(8, 12, 9, 0.6);
  --color-input-error: #6b0609;
  --color-input-success: #4caf50;
  --font-weight-main: 400;
  --font-weight-secondary: 700;
  --font-weight-additional: 600;
  --font-weight-rare: 500;
  --font-size-body: 16px;
  --font-size-main: 18px;
  --font-size-secondary: 36px;
  --font-size-additional: 20px;
  --font-size-rare: 48px;
  --font-size-minor: 32px;
  --font-size-unitary: 40px;
  --font-size-hiro-title: 56px;
  --font-size-copyright: 14px;
  --letter-spacing-main: 0.01em;
  --line-height-main: 1.6;
  --line-height-secondary: 1.2;
  --line-height-additional: 1.4;
  --line-height-rare: 1.3;
  --border-radius-cards-img: 8px;
  --border-radius-btn: 100px;
  --border-radius-input: 12px;
  --border-radius-sofa-color: 64px;
  --border-cards-accent: 8px solid #6b0609;
  --border-sofacolor-accent: 4px solid #838584;
  --border-input: 1px solid rgba(8, 12, 9, 0.15);
  --border-input-accent: 1px solid rgba(8, 12, 9, 0.4);
  --border-input-error: 1px solid #6b0609;
  --box-shadow-light:
    0 1px 2px 0 rgba(8, 12, 9, 0.05), inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  --box-shadow-dark:
    0 1px 2px 0 rgba(8, 12, 9, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-body);
  line-height: var(--line-height-main);
  color: var(--color-main);
  background-color: var(--background-main);
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.title-section {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing-main);
}

@media screen and (min-width: 1440px) {
  .title-section {
    font-size: var(--font-size-rare);
  }
}

.button {
  font-family: inherit;
  font-weight: var(--font-weight-rare);
  font-size: var(--font-size-body);
  line-height: var(--line-height-main);
  border-radius: var(--border-radius-btn);
  transition: opacity var(--time) var(--cubic-bezier);
  padding: 10px 24px;
  min-height: 46px;
}
