.popular-container {
  padding-right: 0px;
}

.popular-products-title {
  text-align: center;
  color: var(--color-main);
  padding-right: 20px;
  margin-bottom: 32px;

  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing-main);
}

.popular-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  margin-top: 48px;
}

.popular-buttons {
  display: flex;
  gap: 16px;
}

.popular-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-input);
  background-color: var(--background-slider);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.popular-btn:disabled {
  opacity: 0.3;
  cursor: default;
  border: var(--border-input);
  background-color: var(--background-slider);
}
.popular-btn {
  transition:
    background-color var(--time) var(--cubic-bezier),
    border var(--time) var(--cubic-bezier),
    fill var(--time) var(--cubic-bezier);
}
.popular-btn:not(:disabled):not(.swiper-button-disabled):hover,
.popular-btn:not(:disabled):not(.swiper-button-disabled):focus {
  fill: var(--background-main);
  outline: none;
  border: var(--border-input);
  background-color: var(--background-slider-hover);
}

.popular-btn:not(:disabled):not(.swiper-button-disabled):active {
  border: var(--border-input);
  background-color: var(--background-secondary);
}

.popular-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.popular-pagination .swiper-pagination-bullet-active {
  background: #000;
}

/* ================= Tablet ================= */
@media screen and (min-width: 768px) {
  .popular-container {
    padding-right: 32px;
  }
  .popular-products-title {
    padding-right: 0px;
  }
  .popular-controls {
    padding-right: 0px;
  }
}

/* ================= Desktop ================= */
@media screen and (min-width: 1440px) {
  .popular-products-title {
    font-size: var(--font-size-rare);
  }
}
