#reviews .container {
  padding: 64px 20px;
}
.reviews-title {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing-main);
  text-align: left;
  color: var(--color-main);
  margin-bottom: 24px;
}

.reviews-text {
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  text-align: left;
  color: var(--color-main);
  margin-bottom: 80px;
}
.swiper.reviews-swiper {
  width: 100%;
  margin: 0 auto;
}

.swiper-wrapper {
  margin: 0 auto;
  justify-self: start;
}

#reviews .rating .star-filled {
  fill: var(--color-main);
}

#reviews .rating .star-half {
  fill: var(--color-main);
}

#reviews .rating .star-empty {
  fill: var(--color-main);
}

.reviews-comment {
  font-weight: var(--font-weight-rare);
  font-size: var(--font-size-additional);
  line-height: var(--line-height-main);
  color: var(--color-main);
  margin-bottom: 24px;
}

.reviews-author {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-body);
  line-height: var(--line-height-main);
  color: var(--color-main);
}

.reviews-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-swiper-pagination {
  display: block;
  justify-content: flex-start;
  transform: translateX(0) !important;
}

#reviews .swiper-pagination-bullet {
  fill: var(--color-main);
  background-color: var(--color-main);
  width: 8px;
  height: 8px;
  margin: 0 8px 0 0 !important;
  transition: all 0.3s ease;
}

#reviews .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  fill: var(--color-main);
  background-color: var(--color-main);
}

.arrow {
  display: flex;
  gap: 16px;
}

.reviews-swiper-button-prev,
.reviews-swiper-button-next {
  transition: var(--time);
}

.arrow button {
  border: var(--border-input);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: var(--background-slider);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus-visible {
  outline: none;
  border: var(--border-input);
  background-color: var(--background-slider-hover);
}

.arrow button:hover {
  border: var(--border-input);
  background-color: var(--background-slider-hover);
}

.arrow button:active {
  border: var(--border-input);
  background-color: var(--background-secondary);
}

.arrow button:hover .reviews-arrow-prev,
.arrow button:hover .reviews-arrow-next,
.arrow button:focus-visible .reviews-arrow-prev,
.arrow button:focus-visible .reviews-arrow-next,
.arrow button:active .reviews-arrow-prev,
.arrow button:active .reviews-arrow-next {
  fill: var(--background-main);
}
.reviews-swiper-button-prev.is-disabled,
.reviews-swiper-button-next.is-disabled,
.reviews-swiper-button-prev.swiper-button-disabled,
.reviews-swiper-button-next.swiper-button-disabled {
  pointer-events: none;
  cursor: default;
  border: var(--border-input);
  background-color: var(--background-slider);
  opacity: 0.3;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.feedback-card {
  padding-right: 48px;
  margin-bottom: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rating-star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}
.star-rating-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.star svg {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  #reviews .container {
    max-width: 768px;
    padding: 32px 32px;
  }
}
@media screen and (min-width: 1440px) {
  #reviews .container {
    max-width: 1440px;
    padding: 64px 64px;
  }
  .reviews-title {
    font-size: var(--font-size-unitary);
    margin-bottom: 24px;
  }
}
